<% provide(:title, 'Home') %>


<div class="container main_background padded_10" style="min-width: 1200px">
    <h1> Welcome to Taktics! </h1>
    <br>

    <div class="col-md-12" style="font-size: 14px;">
        <p>
            Welcome to Taktics.net! A website created as a gift to community of the strategy game Tak. This site is dedicated to helping Tak players improve their game.
        </p>
        <br>
        <p>
            We are currently preparing for a launch of the <span style="color: #c4c4c4;">closed alpha. </span> To do this, we are
            extracting puzzles from a database of almost <span style="color: #C4C4C4;">70,000 Tak games </span> using AI. This is a complex process, but it is
            an interesting problem and a fun challenge so we are happy to tackle it. We hope to launch January 2, 2017.
        </p>
        <br>

        <br>
        <p>
            Click on the <span style="color: #9d0000;" title="Seriously, click it!">red bar above</span> to explore the rest of our site. You can check out our awesome UI
            by clicking either on "Taks and Tinües", or on "Taktics".
        </p>




    </div>



</div>