<% provide(:title, 'Home') %>

<div class="container main_background">
    <h1 class="header_font">
        <%= image_tag("logo.png", :size => '48x48') %>
        Taktics
    </h1>

    <div class="col-md-6 padded_bottom">
        <div>
            <h2 class="header_font_pink">What is Tak?</h2>
            <div>
                Tak is an Abstract Strategy game created by James Ernest and Patrick Rothfuss.
                It is based off of a game of the same name in "The Wise Man's Fear"
            </div>
        </div>
        <div>
            <h2 class="header_font_pink">What is Tak?</h2>
            <div>
                Tak is an Abstract Strategy game created by James Ernest and Patrick Rothfuss.
                It is based off of a game of the same name in "The Wise Man's Fear"
            </div>
        </div>
        <div>
            <h2 class="header_font_pink">What is Tak?</h2>
            <div>
                Tak is an Abstract Strategy game created by James Ernest and Patrick Rothfuss.
                It is based off of a game of the same name in "The Wise Man's Fear"
            </div>
        </div>
        <div>
            <h2 class="header_font_pink">What is Tak?</h2>
            <div>
                Tak is an Abstract Strategy game created by James Ernest and Patrick Rothfuss.
                It is based off of a game of the same name in "The Wise Man's Fear"
            </div>
        </div>
    </div>

    <div class="center col-md-6 container padded-homescreen">
        <div>
            <%= link_to "Click here to try a Taktic", "tactics/show", class: "btn btn-info btn-lg"%>
        </div>
    </div>


</div>