
<div class="container main_background">
    <h1 class="header_font">Welcome, Taktician</h1>
    <div class="flex minwidth">
        <div>
            <iframe src="http://ptn.ninja" width="800" height="576"></iframe>
        </div>
        <div class="padded-sidebar">
            <span class="padded-playinfo">
                <span>Play: White</span>
                <span>Play: White</span>
            </span>
        </div>

    </div>

</div>
