
<div class="modal fade" id="tutorialModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to Taktics!</h4>
            </div>
            <div class="modal-body">
                <p>You may practice Taktics without logging in, but please note that your results will not
                    be recorded. This means that you may not be given tactics of the appropriate level to
                    your skill, and that your progress will not be recorded.

                </p>
               <p> Enjoy!</p>
                <p>-The Taktics Team </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
        $('#tutorialModal').modal('show');
    })
</script>