.padded-homescreen {
  padding: 30px;
}

.padded {
  padding: 20px;
}

.header_font {
  font-size: 40px !important;
  line-height: 75px ;
  text-align: center ;
  color: #000000 !important;
  border-bottom: 1px solid #d5d5d5;
  padding: 30px;
}

.jumbotron {
  border: 1px solid black;
}

.header_font_pink {
  font-size: 30px !important;
  padding: 10px;
  line-height: 75px ;
  text-align: center ;
  color: #d16370 !important;
  margin-bottom: 0px;
}

.padded_bottom {
  padding-bottom: 10px;
  padding-left: 30px;
}